*{
  padding: 0px;
  margin: 0px;
  -webkit-animation: fadein 0.9s;
}

@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;

}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background-color: #EBEBEB;
}

.patients-list {
  text-align: center;
}

.patients-list a {
text-decoration: none;
color:black;
}

h1{
  text-align: center;
  background-color: white;
  padding: 40px;
}

.logo {
  margin: 10px;
}

.nav-bar {
  max-width: 100%;
  display:inline-block;
  text-align: center;
  padding: 2px;
}

#Cardiff {
  float: left;
}

#Arthritis {
  float: right;
}

#main{
  text-align: center;
}

.header-title {
  font-family: 'Montserrat', sans-serif;
}

.nav-bar a {
 font-family: 'Montserrat', sans-serif;
 background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 8px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 15px;
 margin-top: 30px;
}

.question {
  font-family: 'Montserrat', sans-serif;
  background-color: grey;
  display:inline-block;
  padding: 30px;
  background-color: #F5F5F5;
  font-size: 40px;
  width:600px;
  max-width: 100%;
  text-decoration: none;
}

.question-button {
  font-family: 'Montserrat', sans-serif;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.radios {
  display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radios input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #808080;
}

.radios:hover input ~ .checkmark {
    background-color: #ccc;
}
.radios input:checked ~ .checkmark {
    background-color: green;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radios input:checked ~ .checkmark:after {
    display: block;
}
.radios .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.login-background {
    background-color: #E8E8E8;
}
.login-body {
    background-color: #E8E8E8;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
}

<<<<<<< HEAD
.patient-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
=======
.slideroptions {
  float: left;
  padding: 0 1em;
  text-align: center;
  font-size: 15;
}

.slideroptions input{
  width: 20px;
  height: 20px;
}

#slider{
  display: inline-block;
>>>>>>> acd5b6b14bd9184ee64eec75632f2083b8daf169
}
