{%extends 'test.html'%}
THIS IS A REDIRECT BLANK PAGE
{% block logouttext %}

{% endblock %}
{% block navbar%}
<center><nav class="nav-bar">
  <a href ="/Home/Clinition" > <i class="fa fa-fw fa-user"></i>PROFILE</a>
  <a href ="/logout" > <i class="fa fa-fw fa-user"></i>LOGOUT</a>
</nav></center>
{% endblock %}
{%block testBlock%}
<h2>Submitted Patients:</h2>
{%if not patients%}

  <p id = "message">You currently do not have any patients that have submitted a survey.</p>

{%else%}
<ul class="patients-list">
{%for patient in patients%}
<a href="/View/{{patient[0]}}">{{patient[1]}}</a><br/>
{%endfor%}
<ul>
{%endif%}
  {% endblock %}
