<html>

<head>
<link rel="stylesheet"type="text/css"href="global.css">
</head>


<body>


<div class="login-page">
  <div class="form">
    <form class="register-form">
    <form class="login-form">
      <input type="text" placeholder="username" name="patientName" required/>
      <input type="password" placeholder="password" name="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="Signup.html">Create an account</a></p>
    </form>
  </div>
</div>



</body>
</html>
