
  {%extends 'test.html'%}
  {%block testBlock%}
  <!-- <p> This is Template {{ name }} </p> -->
  <p> Question: {{ questionNum[0] }} </p>
  <p>  {{ question }}</p>
  <!-- <p>Options {{options}}</p> -->
  <!-- <input type="button" id="subscribeNews" name="subscribe" value="{{options}}"> {{options}} </input> -->

  <form action="" method = "POST" name="question-options">
    <table class="table">
      {%for value in options%}
      <tr>
        <td>
          <label class="checkbox">
            <input type="checkbox" name="option" value="{{value}}">
          </label>
          {{value}}
        </td>
      </tr>
      {%endfor%}
    </table>
    <input type="submit" name="submit_button" value="< Back" formnovalidate>
    <input type="submit" name="submit_button" value="Next >">
  </form>
  <script>
    var options_stuff = document.forms["question-options"].elements["option"];
    var list_length = options_stuff.length;
    var last_item = options_stuff[list_length-1]
    // alert(options_stuff[list_length-1].value);
    // alert(options_stuff[list_length-1].checked);

    // if options_stuff[list_length-1].checked == True{
    //   alert("TICKED");
    // }
    for (var i = 0; i<list_length-1; i++){
      options_stuff[i].onclick = uncheck_last

    }
    function uncheck_last(){
      // alert("top stuff checkd")

      last_item.checked = false;
    }

  </script>
  <!-- <a href = "/"> Next </a> -->
  {%endblock%}
