  {%extends 'test.html'%}
  {% block navbar%}
  <center><nav class="nav-bar">
    <a href = "/Home/Clinition"> <i class="fa fa-fw fa-user"></i>PROFILE</a>
    <a href ="/logout" > <i class="fa fa-fw fa-user"></i>LOGOUT</a>
  </nav></center>
  {% endblock %}

{%block testBlock%}
<!-- {{submissions}} -->
<h3>Submissions for: {{Name}}</h3><br/>

<table class="results-table">
  <tr>
  <th>Form Id</th>
  <th>Date Submitted</th>
  <th>Time Submitted</th>
  <th>Overall Score</th>
</tr>

  {%for submission in submissions%}
  <!-- {{submission}} -->
  {% set list1 = submission[0].split(",")%}
  <!-- {{list1[0]}} -->
  {%set list2 = list1[1][0:-7]%}

  <tr class="submission-row" onclick="window.location='/View/{{user_id}}/{{submission[1]}}';">

    <td>
      {{submission[1]}}
    </td>
    <td>
      {{list1[0]}}<br/>
    </td>
    <td>
      {{list2}}<br/>
    </td>

  </tr>

  {%endfor%}

</table>

{%endblock%}
