{%extends 'test.html'%}
{% block navbar%}
<center><nav class="nav-bar">
  <a href = "/Home/Patient/{{id}}"> <i class="fa fa-fw fa-user"></i>PROFILE</a>
  <a href ="/logout" > <i class="fa fa-fw fa-user"></i>LOGOUT</a>
</nav></center>
{% endblock %}
{%block testBlock%}
Your personal ID: {{id}}<br/><br/>
<button class = "patient-button" onclick = "location.href='/New-Assessment/{{id}}'">Start New Assessment</button><br/><br/>
<button class = "patient-button" onclick = "edit_submissions()">Edit Submissions</button>

<script>
  function edit_submissions(){
    alert("WE IN");
  }
</script>

{%endblock%}
