<html>


<head>
<link rel="stylesheet"type="text/css"href="global.css">
</head>

<body>

<div class="login-page">
  <div class="form">
    <form id='signupform' onsubmit="return loadPatient" class="register-form">
      <input type="text" placeholder="name" name = "patientName"/>
      <input type="password" placeholder="password" name = "Password"/>
      <input type="text" placeholder="email address" name = "Email"/>
      <button>create</button>
      <p class="message">Already registered? <a href="Login.html">Sign In</a></p>
    </form>
    <span id ="txt"></span>
  </div>
</div>

<script>
  function loadPatient() {
    var patientName = document.forms["signupform"]["patientName"].value;
    var Password = document.forms["signupform"]["Password"].value;
    var Email = document.forms["signupform"]["Email"].value;
    params = 'patientName='+patientName+'&Password'+Password+'&Email'+Email;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/Patient/AddPatient', true);
    xhttp.setRequestHeader()
    xhttp.onload = function() {
      if (xhttp.readystate === 4 && xhttp.status ===200) {
        console.log(xhttp.responseText);
        document.getElementByID("txt").innerHTML = xhttp.repsonseText;
      } else {
          console.error(xhttp.statusText);
        }
      };
      xhttp.send(params);
      return false
    }






</body>
</html>
