<html>


<head>
<link rel="stylesheet"type="text/css"href="global.css">
</head>

<body>

<div class="login-page">
  <div class="form">
    <form id='signupform' onsubmit="return loadPatient()" class="register-form">
      <input type="text" placeholder="name" name = "patientName" required/>
      <input type="password" placeholder="password" name = "Password" required/>
      <input type="email" placeholder="email address" name = "Email" required/>
      
      <button>create</button>
      <p class="message">Already registered? <a href="Login.html">Sign In</a></p>
    </form>
    <span id="txt"></span>
  </div>
</div>

<script>
  function loadPatient() {
    var patientName = document.forms["signupform"]["patientName"].value;
    var Password = document.forms["signupform"]["Password"].value;
    var Email = document.forms["signupform"]["Email"].value;
    params = 'patientName='+patientName+'&Password='+Password+'&Email='+Email;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/Patient/AddPatient', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    alert("THIS IS WORKING HERE")

    xhttp.onload = function() {
      alert(xhttp.readyState);
      alert(xhttp.status);
      if ((xhttp.readyState === 4) && (xhttp.status === 200)) {

        alert("WE ARE INSIDE");
        console.log(xhttp.responseText);
        response_text = xhttp.responseText.trim();
        alert(response_text);
        if (response_text === "SUCCESS"){
          // Change the route to wherever the user will be redirected to
          window.location.href = "/Login";

        }else if(response_text === "EXISTS"){
          // Response text for if the user already exists in the database
          alert("The patient already exists, please check email for their login details");
        document.getElementByID("txt").innerHTML = xhttp.responseText;
        }else {
          // Response text for if the server gets an error while going into the DB
        alert(response_text)
        console.error(xhttp.statusText);
        }
      }
    };
    xhttp.send(params);

    return false;
  }

</script>
</body>
</html>
