
  {%extends 'test.html'%}
  {% block navbar%}
  <center><nav class="nav-bar">
    <a onclick="window.location='/Home/Patient/{{id}}';"> <i class="fa fa-fw fa-user"></i>PROFILE</a>
    <a href ="/logout" > <i class="fa fa-fw fa-user"></i>LOGOUT</a>
  </nav></center>
  {% endblock %}
  {%block testBlock%}
  <p> Question {{ questionNum[0] }}: </p>
  <p>  {{ question }}</p>
  <meta content = "{{selected_options}}" property = 'options_text'>
  <form action="" method = "POST" name="question-options">
    <table class="table">
      <br/>
      {%for value in options%}
      <tr>
        <td class="radio-content"><br/>
          <label class="radios">
            <input id ="{{value}}" type="radio" name="option" value="{{value}}" required = True>
            {{value}}
            <span class="checkmark"></span>
          </label>

        </td>
      </tr>
      {%endfor%}
    </table>
    <br/>
    <input class="question-button" type="submit" name="Back" value="Back" formnovalidate>
    <input class="question-button" type="submit" name="Next" value="Next">

  </form>
  <script>

  var selected_boxes = document.querySelector("meta[property='options_text']").getAttribute("content");
  // alert(selected_boxes)
  if (selected_boxes ==="[]"){}else{
  var varray = selected_boxes.split(":");
  len =varray.length;
  for (var i = 0; i<len; i++){

    // alert(varray[i]);
    var item = varray[i];
    // alert(item === "Codeine");
    var checkbox_select = document.getElementById(item.toString());
    checkbox_select.checked = true;
  }
}
  </script>
  {%endblock%}
