
  {%extends 'test.html'%}
  {%block testBlock%}
  <!-- <p> This is Template {{ name }} </p> -->
  <p> Question {{ questionNum[0] }}: </p>
  <p>  {{ question }}</p>
  <!-- <p>Options {{options}}</p>
  <input type="button" id="subscribeNews" name="subscribe" value="{{options}}"> {{options}} </input> -->

  <form action="" method = "POST" name="question-options">
    <table class="table">
      {%for value in options%}
      <tr>
        <td>
          <label class="radios">
            <input type="radio" name="option" value="{{value}}" required = True>
            {{value}}
          </label>

        </td>
      </tr>
      {%endfor%}
    </table>
    <input type="submit" name="submit_button" value="< Back" formnovalidate>
    <input type="submit" name="submit_button" value="Next >">

  </form>
  <!-- <a href = "/"> Next </a> -->
  {%endblock%}
