
  {%extends 'test.html'%}
  {% block navbar%}
  <center><nav class="nav-bar">
    <a onclick="window.location='/Home/Patient/{{id}}';"> <i class="fa fa-fw fa-user"></i>PROFILE</a>
    <a href ="/logout" > <i class="fa fa-fw fa-user"></i>LOGOUT</a>
  </nav></center>
  {% endblock %}
  {%block testBlock%}
  <!-- <p> This is Template {{ name }} </p> -->
  <p> Question: {{ questionNum[0] }} </p>
  <p>  {{ question }}</p>

  <br>
  <meta content = "{{selected_options}}" property = 'options_text'>
  <form action="" method = "POST" name="question-options">
  <div id = "slider">
  {%for value in options%}
  <label class="slideroptions" >{{value}}<br />
    <input type="radio" id="{{value}}" name="option" value="{{value}}" />
  </label>
  {%endfor%}

  <script>
    // console.log("HELLO")
    var selected_boxes = document.querySelector("meta[property='options_text']").getAttribute("content");
    // alert("1")
    // alert(selected_boxes)
    if (selected_boxes ==="[]"){}else{
    var varray = selected_boxes.split(":");
    // alert(varray);
    len =varray.length;
    for (var i = 0; i<len; i++){
      var item = varray[i];
      var checkbox_select = document.getElementById(item.toString());
      checkbox_select.checked = true;
  }

  }
  </script>
  {%endblock%}
