{%extends 'generalPageStyled.html'%}


{%block mainBlock%}
<h2>Student Data</h2>
<form id='myForm' onsubmit="return loadName()">
  First name:<input type = "text" name = "firstName"><br>
  Surname:<input type = "text" name = "surname"><br>
  Term Location:<input type = "text" name = "termLocation"><br>
  Home Location:<input type = "text" name = "homeLocation"><br>

  <button type = "submit"> submit </button>
</form>
<span id='txt'></span>

<script>
  function loadName() {
    var firstName = document.forms["myForm"]["firstName"].value;
    var surname = document.forms["myForm"]["surname"].value;
    var termLocation = document.forms["myForm"]["termLocation"].value;
    var homeLocation = document.forms["myForm"]["homeLocation"].value;
    params = 'firstName='+firstName+'&surname='+surname+'&termLocation='+termLocation+'&homeLocation='+homeLocation;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/Student/AddStudent', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>

{%endblock%}
