
  {%extends 'test.html'%}
  {%block testBlock%}
  <p> This is Template {{ name }} </p>
  <p> {{ questionNum }} {{ question }} </p>
  <p>Options {{options}}</p>
  <input type="button" id="subscribeNews" name="subscribe" value="{{options}}"> {{options}} </input>

  <form action="" method = "POST" name="question-options">
    <table class="table">
      {%for value in options%}
      <tr>
        <td>
          <label class="checkbox">
            <input type="radio" name="option" value="{{value}}">
          </label>
          {{value}}
        </td>
      </tr>
      {%endfor%}
    </table>
    <input class="question-button" type="submit" value="Next">
  </form>
  <a href = "/"> Next </a>
  {%endblock%}
