<html>

<head>
  <link rel="stylesheet"type="text/css" href="CssforTemplates.css">
  <title>BACKonLINE</title>
</head>
<img src = "Cardiff.jpg" id="Cardiff" style="width:100px;height:100px;">
<img src = "Arthritis.jpg" id="Arthritis" style="width:100px;height:100px;">

<body>
  <h1> BACKonLINE </h1>

  <nav>
    <a href = ""> Home </a>
    <a href = ""> Profile </a>
  </nav>

  <br><br><br>

{%block testBlock%}
  <p>Hello people</p>
{%endblock%}

{% block numBlock %}{% endblock %}

   </body>
</body>

</html>
