
  {%extends 'test.html'%}
  {% block navbar%}
  <center><nav class="nav-bar">
    <a onclick="window.location='/Home/Patient/{{id}}';"> <i class="fa fa-fw fa-user"></i>PROFILE</a>
    <a href ="/logout" > <i class="fa fa-fw fa-user"></i>LOGOUT</a>
  </nav></center>
  {% endblock %}
  {%block testBlock%}

  <p> Question {{ questionNum[0] }}: </p>
  <p>  {{ question }}</p>

  <meta content = "{{selected_options}}" property = 'options_text'>
  <meta content = "{{selected_texts}}" property = 'text_text'>
  <form action="" method = "POST" name="question-options">
    <table class="table">

      <tr>
        <td>
          <label class="text-fields">
            <span><input id = "text-box" size="90" class="text-field" type="text" name="option" value="" required=True></span>
          </label>

        </td>
      </tr>

    </table>
    <input class="question-button" type="submit" name="Back" value="Back" formnovalidate>
    <input class="question-button" type="submit" name="Next" value="Next">
  </form>
  <script>
    var selected_boxes = document.querySelector("meta[property='options_text']").getAttribute("content");
    var text_boxes = document.querySelector("meta[property='text_text']").getAttribute("content");


    if( selected_boxes === "[]"){
      // alert("EMTPY")

    }else if (selected_boxes ==="Text Field") {
    //   alert("SOMETHING THERE")
      document.getElementById("text-box").value = text_boxes.toString()

    }else{}
  
  </script>
  <!-- <a href = "/"> Next </a> -->
  {%endblock%}
